<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>><%= product.name %> </title>
</head>
<body>
  <%- include('./partials/header.ejs') %>
  <div class="display">
    <h1 class="title"><%= product.name %> </h1>
    <h2>€ <%= product.price %> </h2>
    <img src="<%= product.imageUrl %>" alt="<%= product.name %>" class="picture"><br>
    <strong>Description</strong>
    <p><%= product.description %> </p>
    <a href="/products/<%= product.id %>/buy" class="buy">Buy</a>
    
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>